{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Reset Password'}) }}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Reset Password</h3>
                            </div>
                            <div class="content">
                                <div class="message-flash">
                                    {% for flashError in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                    {% endfor %}
                                </div>
                                    {{ form_start(requestForm) }}
                                        {{ form_row(requestForm.email) }}
                                <div>
                                    <small>
                                        Enter your email address and we we will send you a
                                        link to reset your password.
                                    </small>
                                </div>
                                <button class=""btn btn-fill-out btn-block">Send password reset email</button>
                                {{ form_end(requestForm) }}
                            </div>
                            <div class="form-note text-center">Don't Have an Account? <a href="{{ path('app_register')}}">Sign up now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
