{% extends 'base.html.twig' %}

{% block title %}CGU E-commerce{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Conditions Générales d\'Utilisation'}) }}
<div class="container">
    <h1 class="text-center mt-3">Conditions Générales d'Utilisation du site E-commerce</h1>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptates! Quia vitae enim officiis libero vel sequi itaque nesciunt alias nemo exercitationem veritatis natus quaerat corporis eligendi, maiores modi autem!
        Laudantium optio natus, nemo commodi necessitatibus doloribus laboriosam reprehenderit odio voluptas. Dolores ullam ex suscipit obcaecati molestias iusto ducimus sunt quia nisi, quas mollitia! Sint saepe ex repudiandae ipsam reprehenderit.
        Optio iusto incidunt aliquam aut. Voluptatum officiis vero, cupiditate iusto inventore iure voluptatibus quisquam! Impedit reprehenderit quo consequuntur excepturi deserunt aliquid! Inventore tempora, provident excepturi nobis nesciunt vero voluptatem sint!
        Doloremque, excepturi ipsa. Fuga sit nisi rerum adipisci at, deleniti ad, odit mollitia officiis inventore assumenda earum quisquam ea delectus expedita! Reprehenderit laudantium vel facilis non commodi dolore ab dolorem?
        Vero culpa blanditiis animi cum id libero omnis eaque iure distinctio recusandae ab accusantium consequuntur sint inventore repellat autem voluptas officiis maiores quasi numquam aperiam, facere praesentium harum. Sapiente, iste?
        Expedita quas ratione ex nulla aperiam eligendi recusandae sit sequi praesentium, aliquam repudiandae id qui, deleniti magnam incidunt ipsa. Placeat velit ex vero beatae assumenda nobis distinctio, quibusdam aperiam unde!
    </p>
</div>
{% endblock %}